.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 25px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
    transition: opacity, left .42s ease-in;
}

.MenuToggle:hover {
    opacity: .5;
}

.MenuToggle.open {
    left: 320px;
}